@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1489507386701');
  /* IE9*/
  src: url('iconfont.eot?t=1489507386701#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489507386701') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489507386701') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489507386701#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_lift:before {
  content: "\e900"
}

.icon-thumb_up:before {
  content: "\e901"
}

.icon-thumb_down:before {
  content: "\e902"
}

.icon-shopping_cart:before {
  content: "\e903"
}

.icon-favorite:before {
  content: "\e904"
}

.icon-check_circle:before {
  content: "\e905"
}

.icon-close:before {
  content: "\e906"
}

.icon-remove_circle_outline:before {
  content: "\e907"
}

.icon-add_circle:before {
  content: "\e908"
}

.icon-keyboard_arrow_right:before {
  content: "\e909"
}
